<!doctype html>
<html ng-app>
  <head>
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css">
    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.0.2/angular.min.js"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.0.2/angular-resource.min.js"></script>
    <script src="/scripts/controller.js"></script>
  </head>
  <body>
    <div class="jumbotron">
      <div class="container">
          <div ng-controller="DataListCtrl">
            <div ng-repeat="item in items">
              <h1>Curriculum Vitae </h1>
              <p>{{item.name}}</p>
              <address>
                {{item.address}}<br>
                <abbr title="Phone">P: </abbr>{{item.telePhone}}<br>
                <abbr title="Cell Phone">P: </abbr>{{item.cellPhone}}<br>
                <a href="mailto:">{{item.email}}</a><br>
              </address>
            </div><!-- end of ng-repeat="item in items" -->
          </div><!-- end of ng-repeat="item in items" -->
        </div>
      </div>
        <div class="container">
            <div class="row">
             <div class="col-md-4">
              <div ng-controller="DataListCtrl">
                <div ng-repeat="item in items">
                  <h2>Personal information</h2>
                  <address>
                    Date of birth: {{item.dateOfBirth}}<br>
                    Place of birth: {{item.placeOfBirth}}<br>
                    Citizenship: {{item.citizenship}}<br>
                    Martial status: {{item.maritalStatus}}<br>
                    Spouses's name: {{item.spoucesName}}<br>
                    Children: {{item.children}}<br>
                    Sex: {{item.sex}}<br>
                  </address>
                </div><!-- end of ng-repeat="item in items" -->
              </div><!-- end of ng-repeat="item in items" -->
              <h2>Interests</h2>
              <address>
                Gaming<br>
                Programming<br>
                Technoligy<br>
                Flyfishing<br>
              </address>
            </div>
             <div class="col-md-4">
              <h2>Employment history</h2>
              <address>
                Employee: {{item.employee}}<br>
              </address>
              <h2>Education</h2>
              <address>
                College: {{item.college}}<br>
                University: {{item.university}}<br>
              </address>
              <h2>Skills</h2>
              <address>
                Programming languages: {{item.university}}<br>
                Frameworks: {{item.highSchool}}<br>
              </address>
            </div>
              <div class="col-md-4">
                <h2>Code</h2>
                <address>
                  github.com<br>
                  code.google.com<br>
                </address>
                <h2>Social media</h2>
                <address>
                  facebook.com<br>
                  twitter.com<br>
                  linkedin.com<br>
                  google.com<br>
                </address>
              </div>
            </div>
         </div>
      </div>
  </body>
</html>