<!doctype html>
<html ng-app>
<head>
    <meta charset="utf-8">
    <title>Davíð Halldór Lúðvíksson</title>
    <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.css">
    <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap-theme.css">
    <script src="bower_components/angular/angular.js"></script>
    <script src="/scripts/controller.js"></script>
    <script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-8424202-1', 'davidhalldor.com');
  ga('send', 'pageview');

</script>
</head>
<body>
<div class="jumbotron">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <div ng-controller="PersonListCtrl">
                    <h1>Curriculum Vitae </h1>

                    <div ng-repeat="item in items">

                        <p>{{item.name}}</p>
                        <address>
                            {{item.address}}<br>
                            <abbr title="Phone">P: </abbr>{{item.telePhone}}<br>
                            <abbr title="Cell Phone">P: </abbr>{{item.cellPhone}}<br>
                            <a ng-href="mailto:{{item.email}}">davidhalldor@gmail.com</a><br>
                        </address>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <img src="/images/davidhalldor.jpg" alt="..." class="img-responsive" width="371" height="672">
            </div>
        </div>
    </div>
</div>
<div class="container">
    <div class="row">
        <div class="col-md-3">
            <div ng-controller="PersonListCtrl">
                <h2>Personal information</h2>

                <div ng-repeat="item in items">
                    Date of birth: {{item.dateOfBirth}}<br>
                    Place of birth: {{item.placeOfBirth}}<br>
                    Citizenship: {{item.citizenship}}<br>
                    Children: {{item.children}}<br>
                    Sex: {{item.sex}}<br>
                </div>
            </div>
            <div ng-controller="InterestListCtrl">
                <h2>Interests</h2>

                <div ng-repeat="item in items">
                    {{item.description}}<br>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div ng-controller="EmployeeListCtrl">
                <h2>Employment history</h2>

                <div ng-repeat="item in items">
                    {{item.status}} at <a ng-href="{{item.link}}">{{item.name}}</a> from {{item.fromDate}} to {{item.toDate}}<br>
                </div>
            </div>
            <div ng-controller="EducationListCtrl">
                <h2>Education</h2>

                <div ng-repeat="item in items">
                    {{item.status}} at <a ng-href="{{item.link}}">{{item.name}}</a> from {{item.fromDate}} to {{item.toDate}}<br>
                </div>
            </div>
            <div ng-controller="SkillListCtrl">
                <h2>Skills</h2>

                <div ng-repeat="item in items">
                    {{item.description}}
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div ng-controller="CodeListCtrl">
                <h2>Code</h2>
                <div ng-repeat="item in items">
                    <a ng-href="{{item.link}}">{{item.name}}</a>
                </div>
            </div>
            <div ng-controller="SocialListCtrl">
                <h2>Social media</h2>
                <div ng-repeat="item in items">
                    <a ng-href="{{item.link}}">{{item.name}}</a>
                </div>
            </div>
        </div>
    </div>
</div>
</div>
<div class="panel panel-default">
  <div class="panel-footer">Designed by Davíð Halldór Lúðvíksson</div>
</div>
</body>
</html>
